/* Classes */
 .bottom-margin {
   margin-bottom: 5%;
 }

.railway-font {
  font-family: 'Raleway', sans-serif;
}

.grayscale {
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  transition: transform 0.4s ease;
}

.grayscale:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);

  -webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
-ms-transform: scale(1.05);
-o-transform: scale(1.05);
transform: scale(1.05);
}

.img-padding {
  padding: 33.33%;
}

.img-margin {
  margin: 5%;
}

.uppercase {
  text-transform: uppercase;
}

.indent {
  margin-left: 5%;
}

.center-text {
  text-align: center;
}

.no-bullets {
  list-style-type: none;
}

.no-show {
  display: none;
}
